# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# --- Virtual Environments ---
.env
.venv
env/
venv/

# --- MLOps: MLflow & Artifacts ---
# Không đẩy lịch sử train local và database lên Git
mlruns/
mlflow.db
*.sqlite

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db